<div class="header-wrap sitemap">
  <div class="top-menu">
    <ul class="top-menu-sns">
      <li class="sns-icons">
        <a href="https://www.instagram.com/manalsaramdl/" target="_blank"><img class="sns-icon insta-off" src="../images/sns-icon-insta (1).svg" /></a>
        <a href="https://www.instagram.com/manalsaramdl/" target="_blank"><img class="sns-icon insta-on" src="../images/sns-icon-insta-on.svg" /></a>
      </li>
      <li>
        <a href="http://pf.kakao.com/_kvwsxj" target="_blank"> <i class="sns-icon speech xi-speech"></i></a>
      </li>
      <li>
        <a href="https://blog.naver.com/insa_official" target="_blank"> <i class="sns-icon naver xi-naver"></i></a>
      </li>

      <li>
        <a href="https://www.youtube.com/channel/UCyZXDjRBTHtc6XM2ayGpWzQ" target="_blank"> <i class="sns-icon youtube xi-youtube-play"></i></a>
      </li>
    </ul>
    <h1 class="logo">
      <a href="index.html"></a>
    </h1>
    <div class="top-login">
      <ul>
        <li><a href="/login.html">Log in</a></li>
        <li><a href="/join.html">Sign up</a></li>
      </ul>
    </div>
    <div class="menu-bar">
      <button class="mb-hd-open"><img src="../images/m-bar.png" alt=""></button>
    </div>
  </div>
</div>
<nav class="gnb-wrap">
  <ul class="gnb">
    <li class="active">
      <a href="/story.html">인사</a>
      <!-- <div class="subA"> -->
         <ul class="gnb-sub a">
           <li>
              <a href="/story.html">탄생배경</a>
           </li>
         </ul>
      <!-- </div> -->
    </li>
    <li>
      <a href="/service_party.html">서비스</a>
      <ul class="gnb-sub b">
        <li><a href="./service_party.html">파티신청</a></li>
        <li><a href="./service_blind.html">소개팅신청</a></li>
      </ul>
    </li>
    <li>
      <a href="../완료/review_date.html">후기</a>
      <ul class="gnb-sub c">
        <li><a href="../완료/review_date.html">소개팅 후기</a></li>
        <li><a href="../완료/review_party.html">파티 후기</a></li>
      </ul>
    </li>
    <li>
      <a href="/coment.html">게시판</a>
      <ul class="gnb-sub d">
        <li><a href="/coment.html">인사의 코멘트</a></li>
        <li><a href="/notice_party.html">파티Q&A</a></li>
        <li><a href="/notice_blind.html">소개팅Q&A</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="mb-hd mb">
  <div class="mb-hd-wrap ">
    <div class="mb-hd-box">
      <div class="mb-logo">
        <img src="/images/LOGO.png" alt="insa-logo">
      </div>
      <div class="mb-login">
        <a href="../완료/login.html">login</a>
        <!-- <a href="../mypage.html">My page</a> -->
        <a href="../signin.html">sign in</a>
      </div>
      <ul class="mb-nav">
        <li>
          <div class="mb-sm-nav-top">
            <a href="./story.html">인사</a>
            <i class="xi-angle-down"></i>
          </div>
          <div class="mb-sm-nav" style="display: none;">
            <a href="./story.html">탄생 배경</a>
          </div>
        </li>
        <li>
          <div class="mb-sm-nav-top">
            <a href="/service_party.html">서비스</a>
            <i class="xi-angle-down"></i>
          </div>
          <div class="mb-sm-nav">
            <a href="/service_party.html">파티 신청</a>
            <a href="/service_blind.html">소개팅 신청</a>
          </div>
        </li>
        <li>
          <div class="mb-sm-nav-top">
            <a href="../완료/review_date.html">후기</a>
            <i class="xi-angle-down"></i>
          </div>
          <div class="mb-sm-nav">
            <a href="../완료/review_date.html">소개팅 후기</a>
            <a href="../완료/review_party.html">파티 후기</a>
          </div>
        </li>
        <li>
          <div class="mb-sm-nav-top">
            <a href="../완료/coment.html">게시판</a>
            <i class="xi-angle-down"></i>
          </div>
          <div class="mb-sm-nav">
            <a href="../완료/coment.html">인사의 코멘트</a>
            <a href="../완료/notice_party.html">파티Q&A</a>
            <a href="../완료/notice_blind.html">소개팅Q&A</a>
          </div>
        </li>
      </ul>
      <div class="sns-wrap-mb">
        <a href="https://www.instagram.com/manalsaramdl/"> <i class="insta xi-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCyZXDjRBTHtc6XM2ayGpWzQ"> <i class="utb youtube xi-youtube-play"></i></a>
        <a href="https://pf.kakao.com/_kvwsxj"> <i class="kakao speech xi-speech"></i></a>
        <a href="https://blog.naver.com/insa_official"> <i class="sns-icon naver xi-naver"></i></a>
      </div>
      <button class="close-btn">
        <i class="xi-close"></i>
      </button>
    </div>
  </div>
  <div class="chat-fixed mb">
    <a href="http://pf.kakao.com/_kvwsxj"> <i class="xi-speech"></i></a>
  </div>
</div>
