 <!-- story -->
 <div class="story-wrap">
   <div class="story-container">
     <div class="story-img">
       <img class="story" src="./images/main-party.png" alt="story">
     </div>
     <div class="story-contents">
       <div class="story-header">
         <p class="story-title">Dear</p>
         <div class="story-line"></div>
       </div>
       <p class="story-main">
         안녕하세요. 인사 대표 이태현입니다.^^<br />
         인사라는 회사를 만나기까지 우여곡절 많으셨죠?<br />
         <br />
         저는 다년간 사랑이라는 분야에서 일했습니다.<br />
         인생의 한 번뿐인 가장 설레는 결혼 준비를 돕기도 했고,<br />
         인생의 하나뿐인 짝을 만나도록 소개팅 주선을 하기도 했습니다.<br />
         또한, 자연스러운 네트워킹 파티를 운영하기도 했죠.<br />
         <br />
         인생에 있어서 좋은 조건을 갖추는 것만큼 중요한 것은 바로 나의 인연을 만나는 일입니다.<br />
         저는 '좋은 인연을 만나려면 어떻게 하지?' 진지하게 고민하고 노력했습니다.<br />
         결혼정보회사, 소개팅 앱, 파티, 모임, 지인 소개팅 등 안 해본 게 없습니다.<br />
         여러분도 그렇지 않으신가요?<br />
         <br />
         결혼정보회사, 소개팅 앱 모두 이루려는 목표가 같을 겁니다.<br />
         하지만 모든 분들이 원하는 커플, 결혼에 도달하기에는 어려운 구조입니다.<br />
         그래서 인사가 필요하다고 생각했어요.<br />
         <br />
         저는 디지털이 유일하게 할 수 없는 것이 인간관계라고 생각합니다.<br />
         그렇기때문에 소개팅에 있어서 주선자와의 관계는 기본이며 중요하다고 생각해요.<br />
         대개 나를 가장 잘 알고 친한 친구가 나의 인연을 이어주는 매개체 역할을 하니까요.<br />
         인사가 가장 친한 친구가 되겠습니다.<br />
         <br />
         진정성 있는 시작이 나의 인연을 찾는 열쇠입니다.<br />
         제가 여러분의 가장 친한 친구가 되어 노력하겠습니다.<br />
         나에게 맞는 단 한 사람, 인사와 함께 찾아보아요!<br />

       </p>
     </div>
   </div>