/* 채팅 */

.popup-form {
    width: 480px;
    /* height: 752px; */
    margin:  60px auto 60px ;
    border:1px solid #ccc;
}

.chat-form .popup-header {
    padding: 24px;
    background: #e1bf87;
    font-weight: bold;
    font-family: "NanumSquareL", "Noto Sans KR", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
}

.chat-form .popup-header p {
    font-size: 24px;
    color: #fff;
}

.chat-form .chat-area {
    background-color: #f0ead6;
}

.chat-form .chat-area .message-group {
    padding: 24px 36px 0;
    overflow-y: scroll;
    /* height: calc(100vh - 176px); */
    height: 640px;
}

.chat-form .chat-area .message-group::-webkit-scrollbar {
    display: none;
}

.chat-form .chat-area .message-group .new-message {
    margin-bottom: 24px;
    display: flex;
    align-items: end;
    gap: 8px;
}

.chat-form .chat-area .message-group .new-message-time {
    color: #8d8882;
    font-size: 12px;
}

.chat-form .chat-area .message-group .new-message-txt {
    padding: 16px;
    border-radius: 16px;
    font-size: 14px;
    word-break: break-all;
    width: fit-content;
    max-width: 320px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.chat-form .chat-area .message-group .new-message-txt p {
    font-size: 14px;
    word-break: break-all;
}

.chat-form .chat-area .message-group .new-message.send {
    justify-content: flex-end;
    align-items: end;
}

.chat-form .chat-area .message-group .new-message.send .new-message-txt {
    background-color: #d7a550;
    color: #fff;
    border-bottom-right-radius: 0;
    line-height: 1.5;
}

.chat-form .chat-area .message-group .new-message.receive .new-message-txt {
    background: #ffffff;
    border-bottom-left-radius: 0;
}

.chat-form .chat-footer {
    display: flex;
    position: relative;
}

.chat-form .chat-footer textarea {
    width: calc(100% - 136px);
    height: 88px;
    padding: 24px;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 1.5;

}
.chat-form .chat-footer textarea::placeholder {
    color: #c4c4c4 !important;
}

.chat-form .chat-footer textarea::-webkit-scrollbar {
    display: none;
}

.chat-form .chat-footer .chat-btn-wrap {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.chat-form .chat-footer .chat-btn-wrap span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    text-align: center;
    cursor: pointer;
}

.chat-form .chat-footer .chat-btn-wrap span i {
    line-height: 40px;
    font-size: 14px;
    color: #b5b5b5;
}

.chat-form .chat-footer .chat-send {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d7a550;
}

.chat-form .chat-footer .chat-send i {
    color: #fff;
}
