.m-ratioBox-wrap {width:100%; padding-top:120%; position:relative; overflow:hidden;}
.m-ratioBox-wrap .m-ratioBox {position:absolute; top:0; left:0; right:0; bottom:0;}
/*
.m-ratioBox-wrap .m-ratioBox:after {content:""; width:83px; height:28px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:url("../img/logo.png") no-repeat; background-size:100%; opacity:0.4;}
 */
.m-ratioBox-wrap img {width:100%; position:absolute; left:50%; top:50%; transform:translateY(-50%) translateX(-50%); z-index:1;}
.m-ratioBox-wrap iframe {width:105%; position:absolute; left:50%; top:50%; transform:translateY(-50%) translateX(-50%); z-index:1;}

.pop-parent {
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 99;
    transition: all .2s;
}
.pop-parent .swiper {
    overflow:visible;
}
.pop-parent .swiper-pagination {
    display:flex;
}
.pop-parent .pop {width:520px; position:relative;}
.pop-parent .pop .btn-toggle {width:40px; height:40px; position:relative; background-color:black;
    cursor:pointer;
}
.pop-parent .pop .btn-toggle img {
    width:auto;
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%) rotate(-90deg);
    transition:all .3s;
}
.pop-parent .pop-btns {display:flex; position:absolute; top:83px; left:-123px; background-color:#3c3c3c; opacity:1;
    transform:rotate(90deg);
}
.pop-parent .pop-btns a {color: #fff; padding: 7px 14px;}
.pop-parent .pop-btns #oneday_check {position: absolute; clip: rect(0,0,0,0);}
.pop-parent .pop-btns #oneday_check + label {display:flex; align-items:center; padding:0 10px; font-size:14px; color:#fff; cursor:pointer;}
.pop-parent .pop-btns #oneday_check + label:before {content:""; display:inline-block; width:12px; height:12px; margin-right:10px;  border:1px solid #fff;}
.pop-parent .pop-btns #oneday_check:checked + label .icon {position:absolute; left:7px; top:7px; display:inline-block; width:20px; height:20px; background:url('../img/check_checked.png') no-repeat center center}

.pop-parent .pop .swiper-btn-control {width:8px; height:11px; margin-left:16px; position:relative; top:2px;}
.pop-parent .swiper-control {display:flex; align-items:center; position:absolute; top:6px; right:20px; z-index:2;}
.pop-parent .swiper-pagination-bullet {width:10px; height:10px; margin:0 5px; border-radius:0; border:1px solid white; opacity:0.5; background-color:transparent;}
.pop-parent .swiper-pagination-bullet-active {background-color:#fff; opacity:1;}
.pop-parent.active {right:-520px;}
.pop-parent.active .btn-toggle {transform:rotate(180deg);}

@media screen and (max-width:1200px) {
    .pop-parent .pop {width:310px;}
    .pop-parent.active {
        right:-310px;
    }
}

.m-input-error {
    margin-top:4px;
    font-size:14px; color:red;
}

#header .mb-hd .mb-hd-wrap.open {
    z-index:100;
}

select, input {
    font-family: "Pretendard";
}

.application-container-party .application-states {
    width:242px;
}
.review-list .review-box .bg-img.no-blind::after {
    display:none;
}
.m-pop.type01 {
    display:flex; align-items:center; justify-content:center;
    width:100%; height:100%;
    padding:100px;
    position:fixed; top:0; left:0;
    background-color:rgba(0,0,0,0.3);
    z-index:10;
}
.m-pop.type01 img {
    max-width:100%; max-height:100%;
}
.m-pop.type01 .btn-close {
    position:absolute; top:-40px; right:-40px;
}
.m-pop.type01 .m-pop-inner {
    position:relative;
}
.m-pop.type01 .btn-close i {
    font-size:24px; color:#fff;
}
.m-pop.type01 img {
    max-height:calc(100vh - 200px);
}
